.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    }

    .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    }

    .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    }

    @media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
    }

    @media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    }
   h1{
    font-family:Oswald;
    font-size:50px;
    font-style:italic;
   }

   h3{
    font-family:Oswald;
    font-size:30px;
    font-style:italic;
    text-align: center;   
   }
   
   #image-caption {
    font-family:Oswald;
    font-size:25px;
    text-align: justify;
    border: 5px solid black ;
  }

  #final-line {
    font-family:Oswald;
    font-size:25px;
    text-align: justify;    
  }
    

 